.pinkBox {
    position: absolute;
    width: 100vw;
    height: 330px;
    left: 0px;
    top: 16%;
    /* max-width: 1440px; */
    max-height: 330px;
    background: #D0A793;
    margin: auto;
}
#homeImage {
    position: absolute;
    width: 1400px;
    height: 571px;
    left: 7%;
    top: 201px;
    background: url('../../images/jaden.png');
    background-size: 1400px 571px;
}
