body {
    max-width: 1400px;
    background: #F1EAE6;
}
.nav {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3%;
    bottom: 0%;
    max-height: 140px;
    background: #FFFFFF;
}
.nameHeader {
    font-family: Amiri;
    font-weight: normal;
    font-size: 50px;
    line-height: 88px;  
    color: #7F7D7E;
    width: 385px;
    height: 56px;
    padding-bottom: 20px;
    margin-left: 5%;
}
.row {
    max-width: 1400px;
    flex-direction: row;
}
.links {
    text-decoration: none;
}
.col {
    max-height: 160px;
}
hr {
    position: absolute;
    left: 34.29%;
    right: 34.9%;
    top: 53.5%;
    border: 2px solid #EEEEEE;
}
.navLink1 {
    position: absolute;
    left: 71.93%;
    right: 18.96%;
    top: 25.5%;
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #7F7D7E;
}

.navLink2 {
    position: absolute;
    left: 77.93%;
    right: 5%;
    top: 25.5%;
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #7F7D7E;
}